h1 {
    text-align: center;
}
body {
    background-color: cornflowerblue;
}
h1 {
    color: darkgray;
}
p {
    color: lightgray;
}

.p_below_h1 {
    text-align: center;
}
.points_map {
    width: 100%;
    height: 1080px;
    border: none;
}