h1 {
    text-align: center;
}
body {
    background-color: black;
}
h1 {
    color: whitesmoke;
}
p {
    color: lightgray;
}

.p-below-h1 {
    text-align: center;
}
.points-map {
    width: 80%;
    height: 1080px;
    border: none;
}