h1 {
    text-align: center;
}
body {
    background-color: black;
}
h1 {
    color: whitesmoke;
}
p {
    color: lightgray;
}

.p-below-h1 {
    text-align: center;
}
.map-container {
    width: 80%;
    text-align: center;
}
.map-container iframe {
    margin: 0 auto;
    display: block;
}